
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    
}

.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 48px;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.nav-link.active{

    background: #e03a3a;
    color: white;
}

.sidebar .nav-link{
    font-weight: 600;
    padding-left: 30px;
}

.menu-header{
    min-height: 50px;
}

.drink-img{
    max-width: 55%;
    border: 0;
}

.btn-secondary{
    background-color: #212121 !important ;
}
