
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    
}
.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 48px;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.nav-link.active{

    background: #e03a3a;
    color: white;
}
.sidebar .nav-link{
    font-weight: 600;
    padding-left: 30px;
}

.menu-header{
    min-height: 50px;
}

.drink-img{
    max-width: 55%;
    border: 0;
}

.btn-secondary{
    background-color: #212121 !important ;
}
.zi-1{

    z-index: 1;

}
.carousel-control-next, .carousel-control-prev {
    color: black;
    text-align: center;
}
.carousel-control-prev, .carousel-control-next{

    width: 7%;
    top:110px;
}
.drink-title{
    z-index: 1;
    font-size: larger;
}
.marg-b-0{
    margin-bottom:0; 
}
.min-ht{

    min-height:710px
}
.icon-pad-lt{
    padding-left: 20px;
}
.centered {
    position: absolute;
    top: 82%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: #212121;
}

.spinner{
    position: absolute;
    display: none;
    height: 100px;
    width: 100px;
    top: 50%;
    left: 57%;
    margin-left: -50px;
    margin-top: -50px;
    background: url(/link/to/your/image);
    background-size: 100%;
    z-index: 2;
}

.mch-profile-item{

    font-weight: bold;
}

.show-pointer{
    cursor: pointer;
}

.search-input{
    padding: 5px 5px 0px 5px;
}